body {
  width: 100%;
  height: 100%;
  margin: 0;
}

header {
  text-align: center;
}

img {
  margin: auto;
  display: block;
}

nav + a {
  padding-left: 10px;
  padding-right: 10px;
  background-color: gray;
}

figcaption {
  font-size: 5px;
  text-align: center;
}

p > section#featuredproperty {
  width: 800px;
  text-align: center;
}

div {
  float: left;
}

div > section#details {
  padding-right: 10px;
  background-color: red;
  text-align: center;
  border-bottom-width: 25%;
}